<h1>Товары</h1>

<ul>
  {{#if goods.length}}
  <div class="row">
    {{#each goods}}
    <div class="col l4">
      <div class="card">
        <div class="card-image">
          {{#if this.image}}
          <img src="{{this.image}}">
          {{else}}
          <img src="https://altay-shop.com/wp-content/uploads/2014/02/shop-placeholder.png">
          {{/if}}
          <span class="card-title">{{ this.name }}</span>
        </div>
        <div class="card-content">
          <div>Количество: {{this.amount}}</div>
          <div>Цена: {{this.price}}</div>
        </div>
        <div class="card-action">
          <a class="btn" href="/goods/{{this.id}}">Открыть</a>
          {{#if @root.isAuth}}
          <a class="btn" href="/goods/{{this.id}}/edit?allow=true">Редактировать</a>
          <form action="/cart/add" method="POST">
            <input type="hidden" value="{{this.id}}" name="id" id="{{this.id}}">
            <button class="btn">В Корзину</button>
          </form>
          <form action="/goods/remove" method="POST">
            <input type="hidden" value="{{this.id}}" name="id" id="{{this.id}}">
            <button class="btn">Удалить</button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <div>
    Товаров пока нет <a href="/new-good">Создать</a>
  </div>
  {{/if}}
</ul>